html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	background-color: #fff;
	width: 98%;
}

i.fa.fa-github-square {
	color: black;
	cursor: pointer;
}

i.fa.fa-twitter-square {
	font-size: 40px;
}

#auth {
	margin-top: 20%;
}

a.delete-list-item {
	background-color: #d9534f;
	color: #fff;
}

img.profile-picture {
	width: 50%;
	height: 50%;
}